{% extends 'base.html' %}
{% load static %}
{% block css %}
{% endblock css %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="card p-3">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-10"><h5 class="mb-0">Персоналы</h5></div>
                            <div class="col-md-1 mx-auto">
                                <a href="{% url 'dashboard:user-create' %}" class="btn btn-success"
                                   data-toggle="tooltip" data-original-title="Добавить">
                                    Добавить
                                </a>
                            </div>
                        </div>
                    </div>
                    {% if users and users %}
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table align-items-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Электронная почта</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Имя и Фамилия</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Роль</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Дата</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr>
                                        <td class="align-middle text-center text-xs font-weight-bold">
                                            {{ user.id }}
                                        </td>
                                        <td class="align-middle text-center text-xs font-weight-bold">
                                            {{ user.email }}
                                        </td>
                                        <td class="align-middle text-center text-xs font-weight-bold">
                                            {{ user.first_name }} {{ user.last_name }}
                                        </td>
                                        <td class="align-middle text-center text-xs font-weight-bold">
                                            <span class="badge badge-dot me-4">
                                                {% if user.role == 1 %}
                                                <i class="bg-warning"></i>
                                                <span class="text-dark text-xs"> Модератор </span>
                                                {% elif user.role == 2 %}
                                                <i class="bg-primary"></i>
                                                <span class="text-dark text-xs"> Редактор </span>
                                                {% elif user.role == 3 %}
                                                <i class="bg-success"></i>
                                                <span class="text-dark text-xs"> Администратор </span>
                                                {% endif %}
                                            </span>
                                        </td>
                                        <td class="align-middle text-center text-xs">
                                            <span class="text-secondary text-xs font-weight-bold">{{ user.date_joined|date:"d-m-Y" }}</span>
                                        </td>
                                        <td class="">
                                            <a href="{% url 'dashboard:user-edit' pk=user.id %}" class="btn btn-warning btn-xs">
                                                <i class="fas fa-pencil-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% else %}
                    <div align="center" class="m-3">
                        <h5>Нет данных</h5>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascript %}
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
{% endblock javascript %}